main {
  min-height: 80vh;
}

.book-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.book-title {
  /* Set a fixed height */
  height: 2, 5em;
  /* Hide overflow content */
  overflow: hidden;
  /* Add ellipsis for long text (adding ... for long text)*/
  text-overflow: ellipsis;
  /* Prevent wrapping */
  /* white-space: nowrap; */
}

table td,
table th {
  text-align: center;
  position: relative;
}

table td img {
  max-width: 50px;
  height: auto;
}

.carousel-caption {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}